@font-face {
  font-family: "Barlosius";
  src: url("../fonts/BarlosiusEdged.ttf") format("truetype");
}

html, body {
  background-color: #00455c;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

h1 {
  font-family: "Barlosius", "Palatino Linotype Bold Italic", "Adobe Devanagari Bold Italic", serif;
  font-size: 3rem;
  letter-spacing: .3rem;
}

#logoText {
  text-align: center;
}

#map {
  margin: 50px auto;
  height: 60%;
  width: 100%;
}

#form {
  display: block;
  margin: 0 auto;
  width: 300px;
}

#result {
  display: block;
  margin: 0 auto;
  width: 400px;
  padding: 20px;
}

#read {
  display: block;
  margin: 0 auto;
  width: 120px;
}
/*
#iw-container  .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0; // In accordance with the rounding of the default infowindow corners.
}

.gm-style-iw {
  width: 400px !important;
  top: 15px !important;
  left: 0 !important;
  box-shadow: 0 1px 6px rgba(178,178,178,0.6);
  border-radius: 2px 2px 0 0;
}

.info {
  //background-color: yellow;
  background: url('../images/treasure_map_ugly.jpg') no-repeat 0 0;
  padding: 50px;
  width: 300px;
  height: 100%;
  //margin: 0 auto;
  border-radius: 2px 2px 0 0;

}
*/

@media (min-width: 425px){
  h1 {
    //font-size: 3rem;
  }
}

@media (min-width: 768px){
  h1 {
    font-size: 5rem;
  }
}
